body {
  font-family: 'Play', sans-serif;
}

/* Home.css */
.snap-y-mandatory {
  scroll-snap-type: y mandatory;
  overflow-y: auto; /* Add overflow-y:auto for smoother scrolling */
  scroll-behavior: smooth; /* Add smooth scrolling behavior */
}

.snap-start {
  scroll-snap-align: start;
  transition: transform 0.5s ease; /* Add transition for smoother snap */
}

::-webkit-scrollbar {
  display: none;
}